<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/rabbit
	http://www.springframework.org/schema/rabbit/spring-rabbit.xsd
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 配置连接工厂 -->
    <rabbit:connection-factory id="connectionFactory" virtual-host="HL"
                               host="127.0.0.1" port="5672" username="HL" password="123456" />
    <!-- 定义mq管理 -->
    <rabbit:admin connection-factory="connectionFactory" />

    <!-- 声明队列 -->
    <rabbit:queue name="spring.test.queue" auto-declare="true" durable="true" />

    <!-- 定义交换机绑定队列（路由模式） -->
    <rabbit:direct-exchange  name="spring.test.exchange">
        <rabbit:bindings>
            <rabbit:binding queue="spring.test.queue" key="user.insert" />
        </rabbit:bindings>
    </rabbit:direct-exchange>

    <!-- 消息对象json转换类 -->
    <bean id="jsonMessageConverter"
          class="org.springframework.amqp.support.converter.Jackson2JsonMessageConverter" />

    <!-- 定义模版 -->
    <rabbit:template id="rabbitTemplate" connection-factory="connectionFactory"
                     exchange="spring.test.exchange"
                     message-converter="jsonMessageConverter"/>
</beans>